<section>
  <div class="container">
    <div class="answers">
      <div class="amount">
        <p>Tip Amount</p>
        <p class="tag">/ person</p>
      </div>
      <div id="tipAmount">{{ calcTipPerPerson() || 0 | currency }}</div>
    </div>
  
    <div class="answers">
      <div class="amount">
        <p>Total</p>
        <p class="tag">/ person</p>
      </div>
      <div id="total">{{ bill / peopleNumber + calcTipPerPerson() || 0 | currency }}</div>
    </div>
  </div>

  <button (click)="reset()">Reset</button>
</section>