main {
  background-color: white;
  border-radius: 2rem;
  filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.1));
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  min-width: 100%;
  min-height: 100%;
}

h1 {
  text-align: center;
}

app-panel, app-answer {
  width: 50%;
  min-height: 100%;
}

footer {
  text-align: center;
}

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 4rem;
}

@media (max-width: 1050px) {
  main {
    flex-direction: column;
    justify-content: flex-start;
    min-width: 100%;
    padding: 2rem 1.5rem;
    min-height: auto;
  }
  
  app-panel, app-answer {
    width: 100%;
    min-height: auto;
    max-height: 50%;
  }

  :host {
    gap: 1.25rem;
    height: 100%;
    justify-content: flex-start;
  }

  header {
    margin-top: 2rem;
  }
}