<header>
  <h1>SPLI<br />TTER</h1>
</header>

<main>
  <app-panel
    [resetEvent]="resetEvent.asObservable()"
    (billEvent)="bill = $event"
    (peopleEvent)="peopleNumber = $event"
    (percentageEvent)="percentage = $event"
  ></app-panel>
  <app-answer
    [bill]="bill"
    [peopleNumber]="peopleNumber"
    [percentage]="percentage"
    (resetEvent)="resetPanel()"
  ></app-answer>
</main>

<footer>
  Challenge by
  <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
    >Frontend Mentor</a
  >. Coded by <a href="https://github.com/Sir-Floppa">Nicolás Donoso</a>.
</footer>
