main {
  background-color: white;
  border-radius: 2rem;
  filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.1));
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
}

h1 {
  text-align: center;
}

app-panel, app-answer {
  width: 50%;
  min-height: 100%;
}

footer {
  text-align: center;
}