<form>
  <div class="field" [ngClass]="{ invalid: bill == 0 }">
    <label for="bill">Bill</label>
    <input
      type="number"
      name="bill"
      id="bill"
      placeholder="0"
      [(ngModel)]="bill"
    />
  </div>

  <div class="field">
    <label for="percentage">Select Tip %</label>
    <section>
      <div class="radio-element">
        <input
          type="radio"
          name="percentage"
          id="radio-5pc"
          value="5"
          [(ngModel)]="percentage"
        />
        <label for="radio-5pc">5%</label>
      </div>

      <div class="radio-element">
        <input
          type="radio"
          name="percentage"
          id="radio-10pc"
          value="10"
          [(ngModel)]="percentage"
        />
        <label for="radio-10pc">10%</label>
      </div>

      <div class="radio-element">
        <input
          type="radio"
          name="percentage"
          id="radio-15pc"
          value="15"
          [(ngModel)]="percentage"
        />
        <label for="radio-15pc">15%</label>
      </div>

      <div class="radio-element">
        <input
          type="radio"
          name="percentage"
          id="radio-25pc"
          value="25"
          [(ngModel)]="percentage"
        />
        <label for="radio-25pc">25%</label>
      </div>

      <div class="radio-element">
        <input
          type="radio"
          name="percentage"
          id="radio-50pc"
          value="50"
          [(ngModel)]="percentage"
        />
        <label for="radio-50pc">50%</label>
      </div>

      <div class="radio-element">
        <input
          type="radio"
          name="percentage"
          id="radio-custom"
          [value]="customPercentage"
        />
        <input
          type="number"
          placeholder="Custom"
          id="radio-custom"
          for="radio-custom"
          [(ngModel)]="customPercentage"
          [ngModelOptions]="{ standalone: true }"
          (keyup)="asignCustom()"
          (focus)="asignCustom()"
        />
      </div>
    </section>
  </div>

  <div class="field" [ngClass]="{ invalid: peopleNumber == 0 }">
    <label for="peopleNumber">Number of People</label>
    <input
      type="number"
      name="peopleNumber"
      id="peopleNumber"
      placeholder="0"
      [(ngModel)]="peopleNumber"
    />
  </div>
</form>
